@font-face {
	font-family: satoshi-bold;
	src: url(Fonts/Satoshi-Bold.otf);
  }

body {
	background-image: url(Images/hive-shadow.png);
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: center bottom;
 	background-origin: content-box;
  	background-size: cover;
	/* flex-direction: column; */
	/* display: flex; */
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
	align-items: center;
	padding: 0 10vw;
	z-index: 10;
  }

  .logo {
	margin: 0.5rem 0;
	a {
		font-family: satoshi-bold;
		font-size: 32px;
		text-decoration: none;
		color: #9730FF;
	}
  }

  .navbar-links ul {
	margin: 0;
	padding: 0;
	display: flex;
  }
  
  .navbar-links li {
	list-style: none;
  }

  #home {
	display: flex;
	position: relative;
	align-items: center;
	padding: 0 10vw; 
	height: 100vh;
  }

  #main-title {
	font-family: Helvetica;
	font-weight: normal;
	text-align: left;
	margin-top: 10em;
	margin-bottom: 15em;
	position: absolute;
	font-size: 48px;
  }

.grid-container {
	margin-top: 18em;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2em;
	justify-items: center;
	text-align: left;
  }