@font-face {
	font-family: satoshi-bold;
	src: url(Fonts/Satoshi-Bold.otf);
  }

body {
	background-image: url(Images/hive-shadow.png);
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-origin: content-box;
  background-size: cover;


}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
	align-items: center;
	padding: 0 10vw;
	z-index: 10;
  }

  .logo {
	margin: 0.5rem 0;
	a {
		font-family: satoshi-bold;
		font-size: 32px;
		text-decoration: none;
		color: #9730FF;
	}
  }

  .navbar-links ul {
	margin: 0;
	padding: 0;
	display: flex;
  }
  
  .navbar-links li {
	list-style: none;
  }

  #home {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 10vw; 
	height: 100vh;
	margin: 0;
  }

  .background {
	height: fit-content;
}