@font-face {
	font-family: satoshi-bold;
	src: url(Fonts/Satoshi-Bold.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap');

body {
	background-image: url(Images/hive-shadow.png);
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: center bottom;
 	background-origin: content-box;
  	background-size: cover;
	flex-direction: column;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	background-color: rgba(255, 255, 255, 0.5);
	border-color: #EEEEEE;
	border-width: 1px;
	align-items: center;
	padding: 0 10vw;
	z-index: 10;
}

.logo {
	margin: 0.5rem 0;
	a {
		font-family: satoshi-bold;
		font-size: 32px;
		text-decoration: none;
		color: #9730FF;
	}
}

.navbar-links ul {
	margin: 0;
	padding: 0;
	display: flex;
}
  
.navbar-links li {
	list-style: none;
}
#profile-img {
	height: 85%;
	width: 85%;
}

#profile-img:hover {
	cursor: pointer;
	opacity: 80%;
	transition: opacity 0.25s ease-in;
}

#home {
	display: block;
	align-items: center;
	padding: 0 10vw; 
	height: 100vh;
}

#main-title {
	font-family: Helvetica;
	font-weight: normal;
	text-align: left;
	margin-top: 4em;
	margin-bottom: 1em;
	position: relative;
	font-size: 48px;
}

.grid-container {
	margin-top: 4em;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2em;
	justify-items: center;
	text-align: left;
}

.grid-item {
	background-color: #FEF9F8;
	border-style: solid;
	border-color: #C8C8C8;
	border-width: 1px;
	border-radius: 8.9px;
	padding: 1.5em;
	h1 {
		font-family: Helvetica;
		font-weight: 400;
		margin-top: 1em;
	}
	p {
		font-family: Helvetica;
		font-weight: 300;
		margin-top: 0.5em;
	}
}

.app-icons {
	height: 15%;
	width: 15%;
}

.horizontal {
	display: flex;
	justify-content: space-between;
}

.connect-btn {
	background-color: #ffffff;
	box-shadow: none;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #C8C8C8;
	padding: 0.05em 1.6em 0.05em 1.6em;
}

.connect-btn:hover {
	cursor: pointer;
	background-color: #dadada;
	transition: background-color 0.25s ease-in;
}

.action-btns {
	display: block;
	margin-top: 5em;
}

#back-btn {
	background-color: #ffffff;
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-size: 18px;
	color: #1A1225;
	box-shadow: none;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: #C8C8C8;
	padding: 0.8em 1.3em 0.8em 1.3em;
	margin-right: 1em;
	margin-bottom: 5em;

}

#back-btn:hover {
	cursor: pointer;
	background-color: #dadada;
	transition: background-color 0.25s ease-in;
}

#finish-btn {
	background-color: #1A1225;
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-size: 18px;
	box-shadow: none;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: #1A1225;
	padding: 0.8em 1.7em 0.8em 1.7em;
	color: #ffffff;
	margin-bottom: 5em;

}

#finish-btn:hover {
	cursor: pointer;
	background-color: #7e7288;
	border-color: #7e7288;
	transition: background-color 0.25s ease-in;
}